<h1>Editar Status</h1>
<%= form_with model: @status_chamado do |f| %>
  <% if @status_chamado.errors.any? %>
    <ul>
      <% @status_chamado.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
    </ul>
  <% end %>

  <div>
    <%= f.label :nome %>
    <%= f.text_field :nome %>
  </div>
  <div>
    <%= f.label :padrao, "Padrão" %>
    <%= f.check_box :padrao %>
  </div>

  <%= f.submit %>
<% end %>
<%= link_to "Voltar", status_chamados_path %>